﻿@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <div class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button  name="search" id="search-btn" class="btn btn-flat" onclick="BuscaGeometria()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">


            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Sectores</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><label class="text-primary"><input type="checkbox" id="16" value="Sector16">  Sector 16</label></li>
                    <li><label class="text-primary"><input type="checkbox" id="16M" value="Sector16M">  Sector 16M</label></li>
                    <li><label class="text-primary"><input type="checkbox" id="17" value="Sector17">  Sector 17</label></li>
                    <li><button onclick="UpdateMap()" class="form-control">Refresh</button></li>

                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Sector Activos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><label class="text-primary"><input type="checkbox" id="A16" value="Sector16">  Sector 16</label></li>
                    <li><label class="text-primary"><input type="checkbox" id="A16M" value="Sector16M">  Sector 16M</label></li>
                    <li><label class="text-primary"><input type="checkbox" id="A17" value="Sector17">  Sector 17</label></li>
                    <li><button onclick="UpdateSectorAssets()" class="form-control">Refresh</button></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Tipo Activos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><label class="text-primary"><input type="checkbox" id="T16" value="Sector16">  Sector 16</label></li>
                    <li><label class="text-primary"><input type="checkbox" id="T16M" value="Sector16M">  Sector 16M</label></li>
                    <li><label class="text-primary"><input type="checkbox" id="T17" value="Sector17">  Sector 17</label></li>
                    <li><button onclick="UpdateMap()" class="form-control">Refresh</button></li>

                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>MENU 2</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>


                
                <ul class="treeview-menu">
                    <li><button onclick="UpdateMap(this)">Add Pin 1 (verde)</button></li>
                    <li><label class="text-primary"><input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer checkbox</label></li>

                    <li><input type="checkbox" id="cbox2" value="second_checkbox"><a href="#">Sector 16</a></li>
                    <li><div class="p-3 mb-2 bg-primary text-white">.bg-primary</div></li>
                    <li><div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div></li>
                    <li><div class="p-3 mb-2 bg-success text-white">.bg-success</div></li>
                    <li><div class="p-3 mb-2 bg-danger text-white">.bg-danger</div></li>
                    <li><div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div></li>
                    <li><div class="p-3 mb-2 bg-info text-white">.bg-info</div></li>
                    <li><div class="p-3 mb-2 bg-light text-dark">.bg-light</div></li>
                    <li><div class="p-3 mb-2 bg-dark text-white">.bg-dark</div></li>
                    <li><div class="p-3 mb-2 bg-white text-dark">.bg-white</div></li>
                    <li><p><a href="#" class="text-primary">Primary link</a></p></li>
                    <li><p><a href="#" class="text-secondary">Secondary link</a></p></li>
                    <li><p><a href="#" class="text-success">Success link</a></p></li>
                    <li><p><a href="#" class="text-danger">Danger link</a></p></li>
                    <li><p><a href="#" class="text-warning">Warning link</a></p></li>
                    <li><p><a href="#" class="text-info">Info link</a></p></li>
                    <li><p><a href="#" class="text-light bg-dark">Light link</a></p></li>
                    <li><p><a href="#" class="text-dark">Dark link</a></p></li>
                    <li><p><a href="#" class="text-muted">Muted link</a></p></li>
                    <li><p><a href="#" class="text-white bg-dark">White link</a></p></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>STATUS</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>



                <ul class="treeview-menu">
                    <li><p><a href="#" class="text-primary">SIZE innerWidth</a></p></li>
                    <li><input type="text" id="txtSize" value="0"></li>
                    <li><p><a href="#" class="text-primary">Aspect</a></p></li>
                    <li><input type="text" id="txtAspect" value="0"></li>
                    <li><p><a href="#" class="text-primary">Mouse</a></p></li>
                    <li><input type="text" id="txtMouse" value="0"></li>
                    <li><p><a href="#" class="text-primary">Absolute Position</a></p></li>
                    <li><input type="text" id="txtAbsolutePosition" value="0"></li>
                    <li><p><a href="#" class="text-primary">Selected Object</a></p></li>
                    <li><input type="text" id="txtSelectedObject" value="None"></li>
                    <li><p><a href="#" class="text-primary">Coordenada</a></p></li>
                    <li><input type="text" id="txtCoord" value="None"></li>
                </ul>
            </li>




            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Tree CheckBox</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>



                <ul class="treeview-menu">
                    @*<li><div id='demoTree'></div></li>*@
                    <li><button onclick="UpdateTree()">UpdateTree</button></li>
            </ul>
            </li>



        </ul>
        @* END Menu *@
    </section>
</aside>