﻿@model IGO_DEMO.Asset
@{
    Layout = null;
}
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_Tipo_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Tipo_Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_Tipo_Criticidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Tipo_Criticidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

    </dl>
</div>
<p>

</p>
