﻿@model IEnumerable<IGO_DEMO.Models.IgoAsset>
@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>*@



<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>



<div class="box-body">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th style="width: 70px;color: white;">
                    @Html.DisplayNameFor(model => model.AssetID)
                </th>
                <th style="width: 70px;color: white;">
                    @Html.DisplayNameFor(model => model.TypeAssets)
                </th>
                <th style="width: 70px;color: white;">
                    @Html.DisplayNameFor(model => model.NameAssets)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeAssets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameAssets)
                    </td>
                    <td>
                        @*@Html.ActionLink("Select", "AssignCoordAsset", new { AssetId = item.AssetID})*@
                        <button type="button" onclick="SetAssetLocation(@item.AssetID);" class="btn btn-default" data-dismiss="modal">Select</button>

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>



