﻿@model IGO_DEMO.Models.IgoAsset
@{
    Layout = null;
}
<div>
    <h4>IgoAsset</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AssetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unsubscribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unsubscribe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInternal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInternal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTypeAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTypeAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchOfficeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchOfficeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCompound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCompound)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
