﻿@{
    ViewBag.Title = "Codelco";
    ViewBag.Description = "Andina";
}
<script type="text/javascript" src="~/scripts/mx/debug.js"></script>
<script src="~/Scripts/wkx/wkx.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
@*<script src="~/Scripts/jquery.jstree.js"></script>*@
<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
<script src="~/Scripts/lib/jquery/jquery.js" type="text/javascript"></script>
<script src="~/Scripts/json2.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.6/jquery.min.js" type="text/javascript"></script>*@
@*<script src="Scripts/json2.min.js" type="text/javascript"></script>*@
@*<script src="Scripts/jquery.jstree.js" language="javascript" type="text/javascript"></script>*@


<div class="row" >
    <div class="col-xs-12 col-md-5">
        <div class="box box-default">
            <div id='demoTree'/>
            <div id="map" ondrop="drop(event)" ondragover="allowDrop(event)"/>
         </div>
    </div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog  modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Activos</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $import("igo3d.view.Map3DView");
    $import("mx3d.view.LabelView");

    var GreenCoord = [-70.27341568451954, -33.15301055184748, 0];
    var RedCoord = [-70.27341568451954, -33.15301055184748, 0];
    var lastLon;
    var lastLat;
    var lastIdDesign;
    var lastZ;
    var mapView = null;
    var buildingLayer = {};
    var wkx = require('wkx');



    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        //ev.target.appendChild(document.getElementById(data));
    }

    function delDisenoSector(idSector) {
        if (mapView.layers[idSector] != undefined)
        mapView.removeLayer(buildingLayer[idSector]);

    }


    
    function BuscaGeometria()
    {
        alert("Buscar");
    }

    window.addEventListener('resize', onWindowResize, false);




    function UpdateTree()
    {
        //var treeModel;//[{ "data": "Confirm Application", "attr": { "id": "10", "selected": true }, "children": null }, { "data": "Things", "attr": { "id": "20", "selected": false }, "children": [{ "data": "Thing 1", "attr": { "id": "21", "selected": true }, "children": null }, { "data": "Thing 2", "attr": { "id": "22", "selected": false }, "children": null }, { "data": "Thing 3", "attr": { "id": "23", "selected": false }, "children": null }, { "data": "Thing 4", "attr": { "id": "24", "selected": false }, "children": [{ "data": "Thing 4.1", "attr": { "id": "241", "selected": false }, "children": null }, { "data": "Thing 4.2", "attr": { "id": "242", "selected": false }, "children": null }, { "data": "Thing 4.3", "attr": { "id": "243", "selected": false }, "children": null }] }] }, { "data": "Colors", "attr": { "id": "40", "selected": false }, "children": [{ "data": "Red", "attr": { "id": "41", "selected": false }, "children": null }, { "data": "Green", "attr": { "id": "42", "selected": false }, "children": null }, { "data": "Blue", "attr": { "id": "43", "selected": false }, "children": null }, { "data": "Yellow", "attr": { "id": "44", "selected": false }, "children": null }] }];

        //$("#demoTree").jstree({
        //    json_data: {
        //        data: treeModel
        //    },
        //    checkbox: {
        //        real_checkboxes: true,
        //        real_checkboxes_names: function (n) {
        //            return [("check_" + (n[0].id || Math.ceil(Math.random() * 10000))), n[0].id]
        //        }
        //    },
        //    plugins: ["themes", "json_data", "ui", "checkbox"]
        //}).bind("loaded.jstree", function (event, data) {
        //    $('#demoTree').jstree('check_node', 'li[selected=selected]');
        //});
    }


    function getActivosSector(codSector)
    {
        var url = '@Url.Action("getActivosSector", "Home")';
        jQuery.ajax({
            url: url,
            type: 'POST',
            data: {
                'codSector': codSector
            },
            success: function (data) {
                var setActivos = JSON.parse(data);
                var p_data = { ID: -1, TYPE: "", DESC: "", STATUS: "", DATA : "" } 
                for (a = 0; a < setActivos.Activos.length; a++) {
                    var strEstado = 'green';
                    if (setActivos.Activos[a].Estado == '0') strEstado = 'green';
                    if (setActivos.Activos[a].Estado == '1') strEstado = 'yellow';
                    if (setActivos.Activos[a].Estado == '2') strEstado = 'red';
                    p_data.ID = setActivos.Activos[a].IdActivo;
                    p_data.TYPE = "PIN";
                    p_data.STATUS = setActivos.Activos[a].Estado;
                    p_data.DESC = setActivos.Activos[a].Descripcion;
                    p_data.DATA = setActivos.Activos[a].IdDiseno;
                    var imagePath = location.origin + "/Images/" + strEstado + "/PIN" + setActivos.Activos[a].TipoStr + ".png";
                    buildingLayer[setActivos.Id].addPin([setActivos.Activos[a].X, setActivos.Activos[a].Y, setActivos.Cota], imagePath, true, p_data );
                    if (setActivos.Activos[a].IdActivo == 792)
                        buildingLayer[setActivos.Id].addFire2([setActivos.Activos[a].X, setActivos.Activos[a].Y, setActivos.Cota]);
                }
            }
        });
    }



    function SetAssetLocation(AssetID) {
        var url = '@Url.Action("SetAssetLocation", "Home")';
        jQuery.ajax({
            url: url,
            type: 'POST',
            data: {
                'AssetId': AssetID,
                'lon': lastLon,
                'lat': lastLat,
                'idDesign' : lastIdDesign,
                'z': lastZ
            },
            success: function (data) {

                if (data == "True") {
                    //mapView.toolBarView.trigger("buttonclick", {
                    //    id: mapView.toolBarView.buttons.newobject.id,
                    //    button: mapView.toolBarView.buttons.newobject
                    //});
                    mapView.newobjectindicator = false;
                    mapView.toolBarView.setButtonCheckState(mapView.toolBarView.buttons.newobject.id, !mapView.toolBarView.buttons.newobject.checked)
                    mapView.toolBarView.buttons.newobject.checked = false;
                    UpdateSectorAssets();
                }
            }
        });
    }

    function getDisenoSector(codSector) {
        var url = '@Url.Action("getDisenoSector", "Home")';
        jQuery.ajax({
            url: url,
            type: 'POST',
            data: {
                'codSector': codSector
            },
            success: function (data) {

                var setsDisenos = JSON.parse(data);
                if (buildingLayer[setsDisenos.Id] != undefined) {
                    mapView.removeLayer(buildingLayer[setsDisenos.Id]);

                }
                buildingLayer[setsDisenos.Id] = new igo3d.layer.Feature3D();
                buildingLayer[setsDisenos.Id].id = setsDisenos.Id;
                mapView.addLayer(buildingLayer[setsDisenos.Id]);

                var vopacity = 0.8;
                var vcolor = setsDisenos.Color;
                var p_data = { ID: -1, TYPE: "", DESC: "", STATUS: "", DATA : "" } 

                for (d = 0; d < setsDisenos.Disenos.length; d++) {
                    p_data.DESC = setsDisenos.Disenos[d].DESCRIPCION;
                    p_data.ID = setsDisenos.Disenos[d].id;
                    p_data.TYPE = "DESIGN";
                    p_data.STATUS = "0";
                    p_data.DATA = setsDisenos.Disenos[d].NIVEL + "@@" + setsDisenos.Disenos[d].SECTOR;
                    if (p_data.ID == 3369) {
                        var geometryObject = wkx.Geometry.parse(setsDisenos.Disenos[d].WKT_DATA); 
                        buildingLayer[setsDisenos.Id].addAlert([geometryObject.points[0].x, geometryObject.points[0].y, setsDisenos.Cota],"FIRE");
                        buildingLayer[setsDisenos.Id].addAlert([geometryObject.points[6].x, geometryObject.points[6].y, setsDisenos.Cota], "WATER");
                        buildingLayer[setsDisenos.Id].addAlert([geometryObject.points[12].x, geometryObject.points[12].y, setsDisenos.Cota],"SMOKE");


                        buildingLayer[setsDisenos.Id].addText("Test funcion de Texto",[geometryObject.points[16].x, geometryObject.points[16].y, setsDisenos.Cota]);
                        buildingLayer[setsDisenos.Id].AddMakeTextSprite("Test funcion de Texto", {}, [geometryObject.points[20].x, geometryObject.points[20].y, setsDisenos.Cota]);

                        buildingLayer[setsDisenos.Id].addAnimateLineString(geometryObject, { color: 16737792, opacity: vopacity }, setsDisenos.Cota, p_data, 0, setsDisenos.width, 0);
                    }
                    else {
                        buildingLayer[setsDisenos.Id].addGeometryObject(wkx.Geometry.parse(setsDisenos.Disenos[d].WKT_DATA), { color: vcolor, opacity: vopacity }, setsDisenos.Cota, p_data, 0, setsDisenos.width);
                        //buildingLayer[setsDisenos.Id].addText(setsDisenos.Disenos[d].DESCRIPCION,[setsDisenos.Disenos[d].Centro.X, setsDisenos.Disenos[d].Centro.Y, setsDisenos.Cota]);
                    }
                }


            }
        });
    }


    function UpdateSectorAssets()
    {
        if (document.getElementById("A16").checked)
            getActivosSector("16");
        //else
        //    delDisenoSector(100);

        if (document.getElementById("A16M").checked)
            getActivosSector("16M");
        //else
        //    delDisenoSector(101);

        if (document.getElementById("A17").checked)
            getActivosSector("17");
        //else
        //    delDisenoSector(102);

    }

    function UpdateMap() {

        if (document.getElementById("16").checked)
            getDisenoSector("16");
        else
            delDisenoSector(100);
        if (document.getElementById("16M").checked)
            getDisenoSector("16M");
        else
            delDisenoSector(101);
        if (document.getElementById("17").checked)
            getDisenoSector("17");
        else
            delDisenoSector(102);
    }




    var cumulativeOffset = function (element) {
        var top = 0, left = 0;
        do {
            top += element.offsetTop || 0;
            left += element.offsetLeft || 0;
            element = element.offsetParent;
        } while (element);

        return {
            top: top,
            left: left
        };
    }

    mx.whenReady(function()
{


    //var mapProvider = new igo3d.map.MapProvider({
    //    urlFormat: "http://{s}.tiles.mapbox.com/v3/nicki.uxdh1tt9/{z}/{x}/{y}.png32",
    //    tileSize: 256,    // Normally the tile size is always 256 in OSM and Google
    //});
    wkx = require('wkx');

    mapView = new igo3d.view.Map3DView({
        $element: $("#map"),
        //mapProvider: mapProvider,
        centerLocation: [-70.27341568451954, -33.15301055184748],
        zoom: 15,                // The same 'zoom level' rules as Google Map.
        statsVisible: false,      // Whether display the WebGL status bar.
        displayCompass: true,    // Whether the compass should be displayed.
        displayToolBar: true,    // Whether the tool bar should be displayed.
        clickable: true,
        onzooming: function (e) {
                console.log("Zooming from %d to %d.", e.zoomFrom, e.zoomTo);
            },
        onzoomed: function (e) {
            console.log("Zoom level is now set to %d.", e.zoomTo);
        },
        //onaddnewalert: function (e) {
        //     console.log("New Alert. ");
        //},
        onaddnewline: function (e) {
             console.log("New  Geometry : %s, Nro Objects : %d  ", e.geometryType, e.points.length);
        },

        onaddnewobject: function (e) {
            lastLon = e.point.lon;
            lastLat = e.point.lat;
            lastIdDesign = e.idIntersect;
            lastZ = e.point.z;;
            var id = 139;
            var url = ('@Html.Raw(Url.Action("AssignCoordAsset", "Home"))');
            $('.modal-body').load(url, function () {
                $('#myModal').modal({ show: true });
            });
            @*window.open('@Html.Raw(Url.Action("AssignCoordAsset", "Home"))');*@
        },
        onmousemove: function (e) {
            document.getElementById("txtSelectedObject").value = "";
            if (e.objects != undefined) {
                if (e.objects.length > 0) {
                    document.getElementById("txtSelectedObject").value = e.objects[0].type + ": " + e.objects[0].name;
                }
            }
            document.getElementById("txtMouse").value = event.clientX + "," + event.clientY;
            var AbsolutePosition = cumulativeOffset(document.getElementById("map"));
            document.getElementById("txtAbsolutePosition").value = AbsolutePosition.left + "," + AbsolutePosition.top;
            document.getElementById("txtCoord").value = ""

        },

        onobjectdblclick: function (e) {
            if (!mapView.newobjectindicator)
            {
                var data = JSON.parse(e.objects.name);
                if (data != null) {
                    var url = ('@Html.Raw(Url.Action("IgoAssetDetail", "Home", new { ID = "[ID]" }))').replace('[ID]', data.ID);;
                    $('.modal-body').load(url, function () {
                        $('#myModal').modal({ show: true });
                    });
                }
            }
        },
        onobjectclick: function (e) {
            document.getElementById("txtSelectedObject").value = e;
        },
        onobjectover: function (e) {
            console.log("Object Over");
        }
    });

    //var tileLayer = new igo3d.layer.Tile3D({
    //    useLocalStorage: true     // Use HTML5 Local Storage to cache the tiles.
    //});
    //mapView.addLayer(tileLayer);

    mapView.toolBarView.buttons.find(x => x.id === "newobject").text = "Hola";
    mapView.startAnimation();



});

    function onWindowResize() {

        mapView.camera.aspect = window.innerWidth / window.innerHeight;
        mapView.camera.updateProjectionMatrix();

        mapView.renderer.setSize(window.innerWidth, window.innerHeight);

        document.getElementById("txtSize").value = window.innerWidth + " X " + window.innerHeight;
        document.getElementById("txtAspect").value = mapView.camera.aspect;

    }
</script>
