.Map3DView .ToolBarView
{
	display: block;
	list-style: none;
	position: relative;
	width: 46px;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.Map3DView .ToolBarView li
{
	display: block;
	width: 46px;
	height: 46px;
	border-radius: 4px;
	background: rgba(0,0,0,0.5);
	background-rpeat: no-repeat;
	background-position: center center;
	margin: 0;
	margin-left: 18px;
	margin-bottom: 18px;
	padding: 0;
	cursor: pointer;
}

.Map3DView .ToolBarView li.checked, .ToolBarView li:ACTIVE
{
	background: rgba(87, 200, 232, 0.4);
}





.Map3DView .ToolBarView li#newobject
{
	background-image: url(images/NewObjectOff.png);
    background-color: rgba(0, 0, 0, 0.5);
}
.Map3DView .ToolBarView li#newobject.checked
{
	background-image: url(images/NewObjectON.png);
    background-color: rgba(0, 0, 0, 0.5);
}



.Map3DView .ToolBarView li#newalert {
    background-image: url(images/NewAlertOff.png);
    background-color: rgba(0, 0, 0, 0.5);
}

.Map3DView .ToolBarView li#newalert.checked {
    background-image: url(images/NewAlertON.png);
    background-color: rgba(0, 0, 0, 0.5);
}


.Map3DView .ToolBarView li#newline {
    background-image: url(images/NewLineOff.png);
    background-color: rgba(0, 0, 0, 0.5);
}

.Map3DView .ToolBarView li#newline.checked {
    background-image: url(images/NewLineON.png);
    background-color: rgba(0, 0, 0, 0.5);
}


.Map3DView .ToolBarView li#anaglyph
{
	background-image: url(images/3d.png);
    	background-color: rgba(0, 0, 0, 0.5);
}
.Map3DView .ToolBarView li#anaglyph.checked
{
	background-image: url(images/3d-on.png);
    	background-color: rgba(0, 0, 0, 0.5);
}

.Map3DView .ToolBarView li#view
{
	/*background-image: url(images/view.png);*/
	background-image: url(images/PerspectiveOFF.png);
    background-color: rgba(0, 0, 0, 0.5);
}
.Map3DView .ToolBarView li#view.checked
{
	/*background-image: url(images/view-perspective.png);*/
	background-image: url(images/PerspectiveON.png);
	background-color: rgba(0, 0, 0, 0.5);
}

.Map3DView .ToolBarView li#rotate
{
	background-image: url(images/3dOff.png);
        background-color: rgba(0, 0, 0, 0.5);
}
.Map3DView .ToolBarView li#rotate.checked
{
	background-image: url(images/3dON.png   );
    background-color: rgba(0, 0, 0, 0.5);
}

.Map3DView .ToolBarView li#zoomIn
{
	background-image: url(images/ZoomInOFF.png);
	margin-bottom: 0;
	border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.Map3DView .ToolBarView li#zoomIn.checked
{
	background-image: url(images/ZoomInON.png);
	margin-bottom: 0;
	border-radius: 4px 4px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.Map3DView .ToolBarView li#zoomOut
{
	background-image: url(images/ZoomOutOff.png);
	border-radius: 0 0 4px 4px;
    background-color: rgba(0, 0, 0, 0.5);
}

.Map3DView .ToolBarView li#zoomOut.checked
{
	background-image: url(images/ZoomOutON.png);
	border-radius: 0 0 4px 4px;
    background-color: rgba(0, 0, 0, 0.5);
}